{% comment %}ly_settings_replace_for_[8003bf95d088a45f8e78548b6c380f4c=settings.featured-products-section-title]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id1294270"] %}{% assign 8003bf95d088a45f8e78548b6c380f4c = shop.metafields[namespace]["id1294270"] %}{% else %}{% assign 8003bf95d088a45f8e78548b6c380f4c = settings.featured-products-section-title %}{% endif %}{% comment %}ly_settings_replace_end{% endcomment %}{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if collections[settings.featured-products-collection].products.size > 0 %}
  <section class="featured-products rows-of-{{ settings.featured-products-per-row }}">

      {% if settings.featured-products-section-title != blank %}
        <h2 class="section-title">{{ 8003bf95d088a45f8e78548b6c380f4c }}</h2>
      {% endif %}

      <div class="featured-products-list">
        {% assign limit = settings.featured-products-per-row | times: settings.featured-products-rows %}
        {% for product in collections[settings.featured-products-collection].products limit: limit %}
          {% include 'product-list-item' %}
        {% endfor %}
      </div>

  </section>

{% else %}

  <section class="featured-products rows-of-4 onboarding">
    <h2 class="section-title">{% comment %}ly_i18n_replace_for_[ 'onboarding.featured_products.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.featured_products.title' | t }}{% endcapture %}{% include 'ly-static-string' with '1294271' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>

    <div class="featured-products-list">
      {% for i in (1..4) %}
        <article class="product-list-item" id="product-list-item-{{ item.id }}">

          <figure class="product-list-item-thumbnail">
            <a class="no-image" href="{{ shop.url }}/admin/themes/{{ theme.id }}/settings"></a>
          </figure>

          <div class="product-list-item-details">
            <p class="product-list-item-vendor">{% comment %}ly_i18n_replace_for_[ 'onboarding.featured_products.product_brand' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.featured_products.product_brand' | t }}{% endcapture %}{% include 'ly-static-string' with '1294272' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
            <h2 class="product-list-item-title">{% comment %}ly_i18n_replace_for_[ 'onboarding.featured_products.product_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.featured_products.product_title' | t }}{% endcapture %}{% include 'ly-static-string' with '1294273' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
            <p class="product-list-item-price">{% comment %}ly_i18n_replace_for_[ 'onboarding.featured_products.product_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.featured_products.product_price' | t }}{% endcapture %}{% include 'ly-static-string' with '1294274' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>

{% endif %}
