{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}ly_settings_replace_for_[3c60e3c82d3da4a895a1bf6a35610d4e=settings.footer-text-content]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id1617603"] %}{% assign 3c60e3c82d3da4a895a1bf6a35610d4e = shop.metafields[namespace]["id1617603"] %}{% else %}{% assign 3c60e3c82d3da4a895a1bf6a35610d4e = settings.footer-text-content %}{% endif %}{% comment %}ly_settings_replace_end{% endcomment %}{% comment %}ly_settings_replace_for_[2a8ac8168587bcbdae254e2878217281=settings.footer-text-title]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id1294275"] %}{% assign 2a8ac8168587bcbdae254e2878217281 = shop.metafields[namespace]["id1294275"] %}{% else %}{% assign 2a8ac8168587bcbdae254e2878217281 = settings.footer-text-title %}{% endif %}{% comment %}ly_settings_replace_end{% endcomment %}
<footer class="main-footer">

  {% assign linklistCount = 0 %}
  {% for i in (1..3) %}
    {% capture linklistOption %}footer-linklist-{{ i }}{% endcapture %}
    {% capture linklist %}{{ settings[linklistOption] }}{% endcapture %}

    {% if linklist.size > 0 %}
      {% assign linklistCount = linklistCount | plus: 1 %}
    {% endif %}
  {% endfor %}
<div class="container-fluid" style="float:left; padding: 0px; vertical-align:middle;">
  <div class="row" style="float:left; padding: 0px; vertical-align:top;"> 
  {% if settings.mailing-list or linklistCount > 0 or settings.footer-text-content != blank %}
    <div class="upper-footer" style="padding: 2px">

      {% if settings.footer-text-content != blank %}
        <div class="footer-blurb" style="float:left; vertical-align:top;">
          {% if settings.footer-headers %}
            <h4 class="section-title">{{ 2a8ac8168587bcbdae254e2878217281 }}</h4>
          {% endif %}
          <div class="rte" style="float:left; vertical-align:top;">{{ 3c60e3c82d3da4a895a1bf6a35610d4e }}</div>
        </div>
      {% endif %}

      {% for i in (1..3) %}

        {% capture linklistOption %}footer-linklist-{{ i }}{% endcapture %}
        {% capture linklist %}{{ settings[linklistOption] }}{% endcapture %}

        {% if linklists[linklist].links.size > 0 %}
          <div class="footer-linklist" style="float:left; vertical-align:top;">
            {% if settings.footer-headers %}
              <h4 class="section-title">{% comment %}ly_code_replace_for_[ linklists[linklist].title ]_begin{% endcomment %}{% include 'ly-title' with linklists[linklist] %}{% assign fdc451a93ddfb219c57c8498f240987b = ly_translation %}{{ fdc451a93ddfb219c57c8498f240987b }}{% comment %}ly_code_replace_end{% endcomment %}</h4>
            {% endif %}

            <ul>
              {% for link in linklists[linklist].links %}
                <li><a class="{% include 'social-check' %}" href="{{ link.url }}" {% if link.url contains 'http://' or link.url contains 'https://' %}target="_blank"{% endif %}>{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{% assign b4746a83cc900946bc793cd99c77ce06 = ly_translation %}{{ b4746a83cc900946bc793cd99c77ce06 }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>
              {% endfor %}
            </ul>
            
          </div>
        {% endif %}

      {% endfor %}


    </div>
  {% endif %}
        <div class="container-fluid" style="float:right; padding: 0px; vertical-align:top;">
          <div class="row" style="float:left; padding: 0px; vertical-align:top;"> 
              <div style="width:48px; height:48px; float:left; padding: 4px; vertical-align:top;">
                  <a  target="_blank" href="https://www.facebook.com/Zoe-Green-1070603789640659/"><img style="max-width:100%;" src="https://cdn.shopify.com/s/files/1/0905/7078/t/7/assets/Social_media_facebook_logo.png?11127619041287930839"></img></a>
              </div>
              <div style="width:48px; height:48px; float:left; padding: 4px; vertical-align:top;">
                  <a  target="_blank" href="https://www.instagram.com/zoe.green.montreal/"><img style="max-width:100%;" src="https://cdn.shopify.com/s/files/1/0905/7078/t/7/assets/Social_media_instagram_logo.png?11127619041287930839"></img></a>
              </div>
              <div  style="width:48px; height:48px; float:left; padding: 4px; vertical-align:top;">
                  <a  target="_blank" href="https://www.pinterest.com/zoegreenmontrea/"><img style="max-width:100%;" src="https://cdn.shopify.com/s/files/1/0905/7078/t/7/assets/Social_media_pinterest_logo.png?11127619041287930839"></img></a>
              </div>
          </div>				
      </div>				
	</div>				
</div>
  <div class="sub-footer"  >
    {% if shop.enabled_payment_types.size > 0 and settings.footer-payment-options %}
      <ul class="payment-options">
        {% for type in shop.enabled_payment_types %}
          <li class="payment-icon {{ type | replace: '_','-' }}"></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% capture year %}
      {{ "now" | date: "%Y" }}
    {% endcapture %}
    <div class="copyright-wrapper" style="padding-top: 40px;">
      <p class="copyright" role="contentinfo">{% comment %}ly_i18n_replace_for_[ 'layout.footer.copyright_html' | t: year: year, shop_name: langify_shop_name ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.copyright_html' | t: year: year, shop_name: langify_shop_name }}{% endcapture %}{% include 'ly-static-string' with '1294524' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = year %}{% assign ly_template = ly_template | replace: '[[year]]', replacement %}{% assign replacement = langify_shop_name  %}{% assign ly_template = ly_template | replace: '[[shop_name]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
         </div>
  </div>

</footer>
