{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="mini-cart">
  <div class="arrow"></div>

  {% for item in cart.items %}
    <article class="mini-cart-item" data-variant="{{ item.variant.id }}" data-url="{{ item.url }}" data-title="{% comment %}ly_code_replace_for_[ item.product.title ]_begin{% endcomment %}{% include 'ly-title' with item.product %}{% assign f0b122b60eb1ace91c8c814a9d444aad = ly_translation %}{{ f0b122b60eb1ace91c8c814a9d444aad }}{% comment %}ly_code_replace_end{% endcomment %}">

      <figure class="mini-cart-item-image">
        <a href="{{ item.url }}">
          <img alt="{{ item.image.alt | escape }}" src="{{ item | img_url: 'small' }}">
        </a>
      </figure>

      <div class="mini-cart-item-details">
        <p class="mini-cart-item-quantity">{% comment %}ly_i18n_replace_for_[ 'layout.mini_cart.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.mini_cart.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '1294307' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}: <span>{{ item.quantity }}</span></p>
        <p class="mini-cart-item-title">
          <a href="{{ item.url }}">
            {% comment %}ly_code_replace_for_[ item.product.title ]_begin{% endcomment %}{% include 'ly-title' with item.product %}{% assign f0b122b60eb1ace91c8c814a9d444aad = ly_translation %}{{ f0b122b60eb1ace91c8c814a9d444aad }}{% comment %}ly_code_replace_end{% endcomment %} {% unless item.variant.title == 'Default Title' %}({% comment %}ly_code_replace_for_[ item.variant.title ]_begin{% endcomment %}{% include 'ly-title' with item.variant %}{% assign cab45412ed135eebe522169be9c51255 = ly_translation %}{{ cab45412ed135eebe522169be9c51255 }}{% comment %}ly_code_replace_end{% endcomment %}){% endunless %}
          </a>
        </p>
        <p><span class="money">{{ item.quantity | times: item.price | money }}</span></p>
      </div>

      <span class="mini-cart-item-remove"></span>

    </article>
  {% endfor %}

  <div class="mini-cart-footer">
    <a class="button secondary" href="/cart">{% comment %}ly_i18n_replace_for_[ 'layout.mini_cart.view_cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.mini_cart.view_cart' | t }}{% endcapture %}{% include 'ly-static-string' with '1294308' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
    <a class="button" href="/checkout{% comment %}ly_checkout_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign checkout_code = shop.metafields.language_codes[language] %}{% if checkout_code %}{% assign checkout_code = '?locale=' | append: checkout_code %}{{ checkout_code }}{% endif %}{% comment %}ly_checkout_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'layout.mini_cart.checkout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.mini_cart.checkout' | t }}{% endcapture %}{% include 'ly-static-string' with '1294309' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
  </div>

</div>
