{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="navigation-wrapper">
  <nav class="navigation">

    <div class="branding {% if settings.use-logo %}has-logo{% endif %}">
      {% if settings.use-logo %}
        <a class="logo mobile-nav-logo {% if settings.use-logo %}has-retina{% endif %}" href="/">
          <img class="logo-regular" alt="{{ langify_shop_name | escape }}" src="{% comment %}ly_asset_replace_for_[ 'logo.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
          {% if settings.use-logo %}
            <img class="logo-retina" alt="{{ langify_shop_name | escape }}" src="{% comment %}ly_asset_replace_for_[ 'logo-retina.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'logo-retina.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
          {% endif %}
        </a>
      {% else %}
        <a class="logo mobile-nav-logo" href="/">{{ langify_shop_name }}</a>
      {% endif %}

      {% if settings.use-sticky-header-logo %}
        <a class="logo sticky-logo" href="/"><img alt="{{ langify_shop_name | escape }}" src="{% comment %}ly_asset_replace_for_[ 'sticky-header-logo.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'sticky-header-logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"></a>
      {% endif %}
      <span class="navigation-toggle"></span>
    </div>

    <ul>
      <li class="mobile-link">
        <form class="search-form" action="/search" method="get">
          <input class="search-input" name="q" type="text" placeholder="{% comment %}ly_i18n_replace_for_[ 'layout.header.search_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.search_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '1294310' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ search.terms }}" />
          <input type="submit" value="" />
        </form>
      </li>
      {% for link in linklists.main-menu.links %}
        {% include 'has-dropdown' %}
        <li class="{% if hasDropdown %}has-dropdown{% elsif hasMegaNav %}has-mega-nav{% endif %} {% include 'for-looper' %}" {% if hasMegaNav %}data-mega-nav="true"{% endif %}>
          <a data-linklist-trigger="{{ link.title | downcase | handle }}" href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{% assign b4746a83cc900946bc793cd99c77ce06 = ly_translation %}{{ b4746a83cc900946bc793cd99c77ce06 }}{% comment %}ly_code_replace_end{% endcomment %} {% if hasDropdown or hasMegaNav %}<span class="enter-linklist"></span>{% endif %}</a>

          {% if hasDropdown %}

            <ul data-linklist="{{ linkHandle }}">
              <li>
                <span class="back"><span class="icon"></span> {% comment %}ly_i18n_replace_for_[ 'layout.mobile_navigation.back' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.mobile_navigation.back' | t }}{% endcapture %}{% include 'ly-static-string' with '1294311' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
              </li>
              {% for link in linklists[linkHandle].links %}
                <li>
                  <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{% assign b4746a83cc900946bc793cd99c77ce06 = ly_translation %}{{ b4746a83cc900946bc793cd99c77ce06 }}{% comment %}ly_code_replace_end{% endcomment %}</a>
                </li>
              {% endfor %}
            </ul>

          {% elsif hasMegaNav %}

            <ul class="mobile-mega-nav" data-linklist="{{ linkHandle }}">
              <li>
                <span class="back"><span class="icon"></span> {% comment %}ly_i18n_replace_for_[ 'layout.mobile_navigation.back' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.mobile_navigation.back' | t }}{% endcapture %}{% include 'ly-static-string' with '1294311' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
              </li>

              {% assign items = 'mega-nav-1|mega-nav-2|mega-nav-3' | split: '|' %}
              {% assign itemCount = 0 %}
              {% for item in items %}

                {% capture enabled %}{{ item }}{% endcapture %}
                {% assign linklist = settings[enabled] %}

                {% if linklists[linklist].links.size > 0 %}
                  <li class="has-dropdown">
                    <a data-linklist-trigger="{{ linklists[linklist].title | downcase | handle }}" href="{{ linklists[linklist].url }}">{% comment %}ly_code_replace_for_[ linklists[linklist].title ]_begin{% endcomment %}{% include 'ly-title' with linklists[linklist] %}{% assign fdc451a93ddfb219c57c8498f240987b = ly_translation %}{{ fdc451a93ddfb219c57c8498f240987b }}{% comment %}ly_code_replace_end{% endcomment %} {% if hasMegaNav %}<span class="enter-linklist"></span>{% endif %}</a>
                    <ul data-linklist="{{ linklists[linklist].title | downcase | handle }}">
                      <li>
                        <span class="back"><span class="icon"></span> {% comment %}ly_i18n_replace_for_[ 'layout.mobile_navigation.back' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.mobile_navigation.back' | t }}{% endcapture %}{% include 'ly-static-string' with '1294311' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
                      </li>
                      {% for link in linklists[linklist].links %}
                        <li>
                          <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{% assign b4746a83cc900946bc793cd99c77ce06 = ly_translation %}{{ b4746a83cc900946bc793cd99c77ce06 }}{% comment %}ly_code_replace_end{% endcomment %}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

            {% assign items = 'mega-nav-1|mega-nav-2|mega-nav-3' | split: '|' %}
            {% assign itemCount = 0 %}
            {% for item in items %}
              {% capture enabled %}{{ item }}{% endcapture %}
              {% if settings[enabled] %}
                {% assign itemCount = itemCount | plus: 1 %}
              {% endif %}
            {% endfor %}

            {% if itemCount > 0 %}
              <div class="mega-nav">

                {% if settings.mega-nav-image %}
                  <figure class="mega-nav-image">
                    <img alt="{{ langify_shop_name | escape }}" src="{% comment %}ly_asset_replace_for_[ 'mega-nav-image-default.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'mega-nav-image-default.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" data-image="{% comment %}ly_asset_replace_for_[ 'mega-nav-image-default.jpg' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'mega-nav-image-default.jpg' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" data-alt="{{ langify_shop_name | escape }}">
                  </figure>
                {% endif %}

                <div class="mega-nav-list-wrapper">
                  {% for item in items %}

                    {% capture enabled %}{{ item }}{% endcapture %}
                    {% assign linklist = settings[enabled] %}

                    {% if linklists[linklist].links.size > 0 %}

                      <ul class="mega-nav-list">
                        <li class="mega-nav-list-title">{% comment %}ly_code_replace_for_[ linklists[linklist].title ]_begin{% endcomment %}{% include 'ly-title' with linklists[linklist] %}{% assign fdc451a93ddfb219c57c8498f240987b = ly_translation %}{{ fdc451a93ddfb219c57c8498f240987b }}{% comment %}ly_code_replace_end{% endcomment %}</li>

                        {% for link in linklists[linklist].links %}

                          {% if settings.mega-nav-image %}
                            {% if settings.mega-nav-image %}
                              {% assign megaNavImageSrc = 'mega-nav-image-default.jpg' | asset_url %}
                              {% assign megaNavImageAlt = langify_shop_name %}
                            {% else %}
                              {% assign megaNavImageSrc = 'no-image.svg' | asset_url %}
                              {% assign megaNavImageAlt = 'No image' %}
                            {% endif %}
                            {% assign item_type = 'none' %}
                            {% if link.url contains '/collections/' %}
                              {% assign item_type = 'collection' %}
                            {% elsif link.url contains '/products/' %}
                              {% assign item_type = 'product' %}
                            {% endif %}

                            {% if item_type == 'collection' %}
                              {% capture megaNavImageAlt %}{% comment %}ly_code_replace_for_[ collections[link.handle].title | escape ]_begin{% endcomment %}{% include 'ly-title' with collections[link.handle] %}{% assign ab96253120d7840bd69781c6c3f49d5d = ly_translation %}{{ ab96253120d7840bd69781c6c3f49d5d | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endcapture %}
                              {% if collections[link.handle].image %}
                                {% capture megaNavImageSrc %}{{ collections[link.handle] | img_url: 'large' }}{% endcapture %}
                              {% else %}
                                {% capture megaNavImageSrc %}{{ collections[link.handle].products.first | img_url: 'large' }}{% endcapture %}
                              {% endif %}
                            {% elsif item_type == 'product' %}
                              {% capture megaNavImageAlt %}{% comment %}ly_code_replace_for_[ link.title | escape ]_begin{% endcomment %}{% include 'ly-title' with link %}{% assign b4746a83cc900946bc793cd99c77ce06 = ly_translation %}{{ b4746a83cc900946bc793cd99c77ce06 | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endcapture %}
                              {% for product in collections['all'].products %}
                                {% if product.handle == link.handle %}
                                  {% capture megaNavImageSrc %}{{ product | img_url: 'large' }}{% endcapture %}
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endif %}

                          <li data-image-src="{{ megaNavImageSrc }}" data-image-alt="{{ megaNavImageAlt }}"><a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{% assign b4746a83cc900946bc793cd99c77ce06 = ly_translation %}{{ b4746a83cc900946bc793cd99c77ce06 }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>
                        {% endfor %}
                      </ul>

                    {% endif %}
                  {% endfor %}
                </div>

              </div>
            {% endif %}
          {% endif %}

        </li>
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
        <li class="mobile-link">
          {% if customer %}
            <a href="/account">{% comment %}ly_i18n_replace_for_[ 'layout.header.my_account' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.my_account' | t }}{% endcapture %}{% include 'ly-static-string' with '1294312' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          {% else %}
            {% comment %}ly_i18n_replace_for_[ 'layout.header.account' | t | customer_login_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.account' | t | customer_login_link }}{% endcapture %}{% include 'ly-static-string' with '1294313' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_login_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
          {% endif %}
        </li>
      {% endif %}
    </ul>

    <a class="cart-count" href="/cart"><span class="cart-count-text">{% comment %}ly_i18n_replace_for_[ 'layout.header.cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.cart' | t }}{% endcapture %}{% include 'ly-static-string' with '1294314' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span> (<span class="cart-count-number">{{ cart.item_count }}</span>)</a>
  </nav>
</div>
