{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if paginate.previous or paginate.next %}
  <ul class="pagination">

    {% if paginate.previous %}
      <li class="previous"><a href="{{ paginate.previous.url }}"></a></li>
    {% endif %}

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li>{% comment %}ly_code_replace_for_[ part.title | link_to: part.url ]_begin{% endcomment %}{% include 'ly-title' with part %}{% assign eb0692ed9c85d58b44c5cac081d959bd = ly_translation %}{{ eb0692ed9c85d58b44c5cac081d959bd | link_to: part.url }}{% comment %}ly_code_replace_end{% endcomment %}</li>
      {% else %}
        {% if part.title == '…' %}
          <li class="ellipsis">{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{% assign eb0692ed9c85d58b44c5cac081d959bd = ly_translation %}{{ eb0692ed9c85d58b44c5cac081d959bd }}{% comment %}ly_code_replace_end{% endcomment %}</li>
        {% else %}
          <li class="active">{% comment %}ly_code_replace_for_[ part.title | link_to: part.url ]_begin{% endcomment %}{% include 'ly-title' with part %}{% assign eb0692ed9c85d58b44c5cac081d959bd = ly_translation %}{{ eb0692ed9c85d58b44c5cac081d959bd | link_to: part.url }}{% comment %}ly_code_replace_end{% endcomment %}</li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if paginate.next %}
      <li class="next"><a href="{{ paginate.next.url }}"></a></li>
    {% endif %}
  </ul>
{% endif %}
