{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign number_of_related_products_to_show = 4 %}

{% capture number_of_related_products_to_fetch %}
  {{ number_of_related_products_to_show | plus: 1 }}
{% endcapture %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if collection.products.size > 1 %}

  <div class="related-products-wrapper">

    <h2 class="section-title">{% comment %}ly_i18n_replace_for_[ 'products.related_products.header' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.related_products.header' | t }}{% endcapture %}{% include 'ly-static-string' with '1294321' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>

    <div class="related-products rows-of-4">

      {% assign current_product_found = false %}
      {% for prod in collection.products limit: number_of_related_products_to_fetch %}
        {% if prod.title == product.title %}
          {% assign current_product_found = true %}
        {% else %}
          {% unless current_product_found == false and forloop.last %}

            {% if settings.related-products-position == 'below' %}
              {% include 'product-list-item' %}
            {% else %}
              <a title="{% comment %}ly_code_replace_for_[ prod.title ]_begin{% endcomment %}{% include 'ly-title' with prod %}{% assign 7263f0baad178da98064a14762ceb5f6 = ly_translation %}{{ 7263f0baad178da98064a14762ceb5f6 }}{% comment %}ly_code_replace_end{% endcomment %}" href="{{ prod.url }}">
                <img alt="{% comment %}ly_code_replace_for_[ prod.title ]_begin{% endcomment %}{% include 'ly-title' with prod %}{% assign 7263f0baad178da98064a14762ceb5f6 = ly_translation %}{{ 7263f0baad178da98064a14762ceb5f6 }}{% comment %}ly_code_replace_end{% endcomment %}" src="{{ prod.featured_image | img_url: 'large' }}">
              </a>
            {% endif %}

          {% endunless %}
        {% endif %}
      {% endfor %}

    </div>
  </div>

{% endif %}
