{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
{% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
{% endif %}

{% assign platforms = 0 %}
{% if settings.share-widget-facebook %}{% assign platforms = platforms | plus: 1 %}{% endif %}
{% if settings.share-widget-twitter %}{% assign platforms = platforms | plus: 1 %}{% endif %}
{% if settings.share-widget-pinterest %}{% assign platforms = platforms | plus: 1 %}{% endif %}
{% if settings.share-widget-fancy %}{% assign platforms = platforms | plus: 1 %}{% endif %}
{% if settings.share-widget-google-plus %}{% assign platforms = platforms | plus: 1 %}{% endif %}
{% if settings.share-widget-email %}{% assign platforms = platforms | plus: 1 %}{% endif %}

{% if platforms > 0 %}
  <div class="share-buttons">

    <span class="section-title">{% comment %}ly_i18n_replace_for_[ 'general.social.share' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.social.share' | t }}{% endcapture %}{% include 'ly-static-string' with '1294322' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>

    {% if settings.share-widget-facebook %}
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook"></a>
    {% endif %}

    {% if settings.share-widget-twitter %}
      <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}" class="share-twitter"></a>
    {% endif %}

    {% if template contains 'product' %}

      {% if settings.share-widget-pinterest %}
        <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&media=http:{{ product | img_url: 'original' }}&description={% comment %}ly_code_replace_for_[ product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{% assign 1ec4980e6d722078e4fefd99df89a877 = ly_translation %}{{ 1ec4980e6d722078e4fefd99df89a877 | escape }}{% comment %}ly_code_replace_end{% endcomment %}" class="share-pinterest"></a>
      {% endif %}

      {% if settings.share-widget-fancy %}
        <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&Title={% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{% assign 1ec4980e6d722078e4fefd99df89a877 = ly_translation %}{{ 1ec4980e6d722078e4fefd99df89a877 }}{% comment %}ly_code_replace_end{% endcomment %}&Category=Other&ImageURL={{ product | img_url: 'original' }}" class="share-fancy"></a>
      {% endif %}

    {% endif %}

    {% if settings.share-widget-google-plus %}
      <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-google"></a>
    {% endif %}

    {% if settings.share-widget-email %}
      <a target="_blank" href="mailto:?subject={{langify_title}}&body={% comment %}ly_i18n_replace_for_[ 'general.social.email_body' | t: link: permalinkURL ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.social.email_body' | t: link: permalinkURL }}{% endcapture %}{% include 'ly-static-string' with '1294324' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = permalinkURL  %}{% assign ly_template = ly_template | replace: '[[link]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" class="share-email"></a>
    {% endif %}

  </div>
{% endif %}
