{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="cart-shipping-calculator">

  <div class="wrapper-setup">

    <h2>{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.header' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.header' | t }}{% endcapture %}{% include 'ly-static-string' with '1294325' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>

    <label for="address_country">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.country' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.country' | t }}{% endcapture %}{% include 'ly-static-string' with '1294326' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
    <div class="country-select select-wrapper">
      <div class="selected-option">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.select_country' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.select_country' | t }}{% endcapture %}{% include 'ly-static-string' with '1294327' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
      <select class="styled-select address-country" id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </div>

    <div id="address_province_container">
      <label for="address_province" id="address_province_label">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.province' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.province' | t }}{% endcapture %}{% include 'ly-static-string' with '1294328' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
      <div class="province-select select-wrapper">
        <div class="selected-option">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.select_province' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.select_province' | t }}{% endcapture %}{% include 'ly-static-string' with '1294329' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
        <select class="styled-select address-province" id="address_province" class="address_form" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
      </div>
    </div>

    <div class="zip-code input-wrapper">
      <label for="address_zip">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.zip' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.zip' | t }}{% endcapture %}{% include 'ly-static-string' with '1294330' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
      <input type="text" class="address-zip" id="address_zip" class="field" name="address[zip]" {% if shop.customer_accounts_enabled and customer %}value="{{ customer.default_address.zip }}"{% endif %} />
    </div>

    <input type="button" class="get-rates secondary" value="{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '1294331' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />

  </div>

  <div class="cart-shipping-calculator-response">
    <p>{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.prompt' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.prompt' | t }}{% endcapture %}{% include 'ly-static-string' with '1294332' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
  </div>

</div>