{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'customers.order.header' | t: order_number: order.name ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.order.header' | t: order_number: order.name }}{% endcapture %}{% include 'ly-static-string' with '1294451' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = order.name  %}{% assign ly_template = ly_template | replace: '[[order_number]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>

{% include 'breadcrumbs' %}

<div class="customer-wrapper">

  <div class="shipping-info">
    <div class="customer-address shipping-address">
      <h2 class="section-title">{% comment %}ly_i18n_replace_for_[ 'customers.order.shipping_address' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.order.shipping_address' | t }}{% endcapture %}{% include 'ly-static-string' with '1294452' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
      <p>
        <span>{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</span><br>
        {% if order.shipping_address.company != blank %}
          <span>{{ order.shipping_address.company }}</span><br>
        {% endif %}
        {% if order.shipping_address.street != blank %}
          <span>{{ order.shipping_address.street }}</span><br>
        {% endif %}
        {% if order.shipping_address.city != blank or order.shipping_address.province_code != blank %}
          <span>{{ order.shipping_address.city }}{% if order.shipping_address.province_code %}, {{ order.shipping_address.province_code }}{% endif %}</span><br>
        {% endif %}
        {% if order.shipping_address.country != blank or order.shipping_address.zip != blank %}
          <span>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</span><br>
        {% endif %}
        {% if order.shipping_address.phone != blank %}
          <span>{{ order.shipping_address.phone }}</span><br>
        {% endif %}
      </p>
    </div>

    <div class="customer-address shipping-address">
      <h2 class="section-title">{% comment %}ly_i18n_replace_for_[ 'customers.order.billing_address' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.order.billing_address' | t }}{% endcapture %}{% include 'ly-static-string' with '1294453' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
      <p>
        <span>{{ order.billing_address.first_name }} {{ order.billing_address.last_name }}</span><br>
        {% if order.billing_address.company != blank %}
          <span>{{ order.billing_address.company }}</span><br>
        {% endif %}
        {% if order.billing_address.street != blank %}
          <span>{{ order.billing_address.street }}</span><br>
        {% endif %}
        {% if order.billing_address.city != blank or order.billing_address.province_code != blank %}
          <span>{{ order.billing_address.city }}{% if order.billing_address.province_code %}, {{ order.billing_address.province_code }}{% endif %}</span><br>
        {% endif %}
        {% if order.billing_address.country != blank or order.billing_address.zip != blank %}
          <span>{{ order.billing_address.country }} {{ order.billing_address.zip }}</span><br>
        {% endif %}
        {% if order.billing_address.phone != blank %}
          <span>{{ order.billing_address.phone }}</span><br>
        {% endif %}
      </p>
    </div>
  </div>

  <div class="order-history">

    <table class="order">
      <thead>
        <tr>
          <th class="first">{% comment %}ly_i18n_replace_for_[ 'general.general.product' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.product' | t }}{% endcapture %}{% include 'ly-static-string' with '1294454' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
          <th>{% comment %}ly_i18n_replace_for_[ 'general.general.price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.price' | t }}{% endcapture %}{% include 'ly-static-string' with '1294455' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
          <th>{% comment %}ly_i18n_replace_for_[ 'general.general.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '1294456' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
          <th class="last">{% comment %}ly_i18n_replace_for_[ 'general.general.total' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.total' | t }}{% endcapture %}{% include 'ly-static-string' with '1294457' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
        </tr>
      </thead>

      <tbody>
        {% for line_item in order.line_items %}
          <tr class="{% include 'for-looper' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td class="order-product-item first">
              <a class="order-image" href="{{ line_item.product.url }}">
                <img alt="{% comment %}ly_code_replace_for_[ line_item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with line_item %}{% assign 3d80cc66dfa8da86e3ce0b97638c9e40 = ly_translation %}{{ 3d80cc66dfa8da86e3ce0b97638c9e40 | escape }}{% comment %}ly_code_replace_end{% endcomment %}" src="{{ line_item.product | img_url: 'small' }}">
              </a>
              <div class="order-details">
                <span class="order-vendor">{% comment %}ly_code_replace_for_[ line_item.vendor ]_begin{% endcomment %}{% include 'ly-vendor' with line_item %}{% assign 833e6e5d865c4871ab4f17c16e467e21 = ly_translation %}{{ 833e6e5d865c4871ab4f17c16e467e21 }}{% comment %}ly_code_replace_end{% endcomment %}</span>
                <span class="order-title">{% comment %}ly_code_replace_for_[ line_item.title | link_to: line_item.product.url ]_begin{% endcomment %}{% include 'ly-title' with line_item %}{% assign 3d80cc66dfa8da86e3ce0b97638c9e40 = ly_translation %}{{ 3d80cc66dfa8da86e3ce0b97638c9e40 | link_to: line_item.product.url }}{% comment %}ly_code_replace_end{% endcomment %}</span>
                {% if line_item.variant.title != 'Default Title' %}
                  <span class="order-variant">{% comment %}ly_code_replace_for_[ line_item.variant.title ]_begin{% endcomment %}{% include 'ly-title' with line_item.variant %}{% assign 06cbbff9520515a8470e40aa8f72f204 = ly_translation %}{{ 06cbbff9520515a8470e40aa8f72f204 }}{% comment %}ly_code_replace_end{% endcomment %}</span>
                {% endif %}
              </div>
            </td>
            <td class="order-price" data-title="{% comment %}ly_i18n_replace_for_[ 'general.general.price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.price' | t }}{% endcapture %}{% include 'ly-static-string' with '1294455' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"><span class="money">{{ line_item.price | money }}</span></td>
            <td class="order-quantity" data-title="{% comment %}ly_i18n_replace_for_[ 'general.general.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '1294456' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"><span>{{ line_item.quantity }}</span></td>
            <td class="order-total last" data-title="{% comment %}ly_i18n_replace_for_[ 'general.general.total' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.total' | t }}{% endcapture %}{% include 'ly-static-string' with '1294457' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"><span class="money">{{ line_item.quantity | times: line_item.price | money }}</span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="order-totals">
      <tr>
        <td>{% comment %}ly_i18n_replace_for_[ 'general.general.subtotal' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.subtotal' | t }}{% endcapture %}{% include 'ly-static-string' with '1294458' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</td>
        <td><span class="money">{{ order.subtotal_price | money }}</span></td>
      </tr>
      <tr>
        {% for shipping_method in order.shipping_methods %}
          <td>{% comment %}ly_i18n_replace_for_[ 'customers.order.shipping' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.order.shipping' | t }}{% endcapture %}{% include 'ly-static-string' with '1294459' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} ({% comment %}ly_code_replace_for_[ shipping_method.title ]_begin{% endcomment %}{% include 'ly-title' with shipping_method %}{% assign 24470c3f130034be3494992de12b2934 = ly_translation %}{{ 24470c3f130034be3494992de12b2934 }}{% comment %}ly_code_replace_end{% endcomment %})</td>
          <td><span class="money">{{ shipping_method.price | money }}</span></td>
        {% endfor %}
      </tr>
      <tr>
        {% for tax_line in order.tax_lines %}
          <td>{% comment %}ly_i18n_replace_for_[ 'customers.order.tax' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.order.tax' | t }}{% endcapture %}{% include 'ly-static-string' with '1294460' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} ({% comment %}ly_code_replace_for_[ tax_line.title ]_begin{% endcomment %}{% include 'ly-title' with tax_line %}{% assign 512d0ae55ba34bdfdb96b796628316e3 = ly_translation %}{{ 512d0ae55ba34bdfdb96b796628316e3 }}{% comment %}ly_code_replace_end{% endcomment %} {{ tax_line.rate | times: 100 }}%)</td>
          <td><span class="money">{{ tax_line.price | money }}</span></td>
        {% endfor %}
      </tr>
      <tr>
        <td>{% comment %}ly_i18n_replace_for_[ 'general.general.total' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.total' | t }}{% endcapture %}{% include 'ly-static-string' with '1294457' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</td>
        <td><span class="money">{{ order.total_price | money }}</span></td>
      </tr>
    </table>

  </div>

</div>
