{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'customers.reset_password.header' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.reset_password.header' | t }}{% endcapture %}{% include 'ly-static-string' with '1294468' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>

{% include 'breadcrumbs' %}

<div class="reset-password customer-wrapper">
  {% form 'reset_customer_password' %}

    <p>{% comment %}ly_i18n_replace_for_[ 'customers.reset_password.message' | t: user: email ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.reset_password.message' | t: user: email }}{% endcapture %}{% include 'ly-static-string' with '1294470' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = email  %}{% assign ly_template = ly_template | replace: '[[user]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>

    {% if form.errors %}
      <p class="error-message banner">{% comment %}ly_i18n_replace_for_[ 'customers.reset_password.error' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.reset_password.error' | t }}{% endcapture %}{% include 'ly-static-string' with '1294471' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
    {% endif %}

    <div class="input-wrapper">
      <label for="customer[password]">{% comment %}ly_i18n_replace_for_[ 'general.general.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.password' | t }}{% endcapture %}{% include 'ly-static-string' with '1294472' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
      <input type="password" value="" name="customer[password]">
    </div>

    <div class="input-wrapper">
      <label for="customer[password_confirmation]">{{ 'general.reset_password' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]">
    </div>

    <div class="input-wrapper">
      <input type="submit" value="{% comment %}ly_i18n_replace_for_[ 'customers.reset_password.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.reset_password.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '1294473' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
    </div>

  {% endform %}
</div>
