{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<h1 class="page-title">{% comment %}ly_i18n_replace_for_[ 'cart.general.header' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.header' | t }}{% endcapture %}{% include 'ly-static-string' with '1294372' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>

{% include 'breadcrumbs' %}

{% if cart.item_count > 0 %}

  <form class="cart-form" action="/cart{% comment %}ly_checkout_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign checkout_code = shop.metafields.language_codes[language] %}{% if checkout_code %}{% assign checkout_code = '?locale=' | append: checkout_code %}{{ checkout_code }}{% endif %}{% comment %}ly_checkout_end{% endcomment %}" method="post">

    <table class="cart-items">
      <thead>
        <tr>
          <th class="first">{% comment %}ly_i18n_replace_for_[ 'general.general.product' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.product' | t }}{% endcapture %}{% include 'ly-static-string' with '1294373' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
          <th>{% comment %}ly_i18n_replace_for_[ 'general.general.price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.price' | t }}{% endcapture %}{% include 'ly-static-string' with '1294374' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
          <th>{% comment %}ly_i18n_replace_for_[ 'general.general.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '1294375' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
          <th class="last" colspan="2">{% comment %}ly_i18n_replace_for_[ 'general.general.total' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.total' | t }}{% endcapture %}{% include 'ly-static-string' with '1294376' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
        </tr>
      </thead>

      <tbody>
        {% for item in cart.items %}
          <tr class="cart-item variant-{{ item.variant.id }} {% include 'for-looper' %}" data-variant="{{ item.variant.id }}" data-title="{% comment %}ly_code_replace_for_[ item.product.title ]_begin{% endcomment %}{% include 'ly-title' with item.product %}{% assign f0b122b60eb1ace91c8c814a9d444aad = ly_translation %}{{ f0b122b60eb1ace91c8c814a9d444aad }}{% comment %}ly_code_replace_end{% endcomment %}" data-url="{{ item.product.url }}">
            <td class="product-item first">
              <a class="image" href="{{ item.product.url }}">
                <img alt="{{ item.image.alt | escape }}" src="{{ item | img_url: 'compact' }}">
              </a>

              <div class="product-item-details">
                {% if settings.product-vendor %}
                  <span class="cart-brand">{{ item.vendor | link_to_vendor }}</span>
                {% endif %}
                <span class="cart-title">{% comment %}ly_code_replace_for_[ item.product.title | link_to: item.product.url ]_begin{% endcomment %}{% include 'ly-title' with item.product %}{% assign f0b122b60eb1ace91c8c814a9d444aad = ly_translation %}{{ f0b122b60eb1ace91c8c814a9d444aad | link_to: item.product.url }}{% comment %}ly_code_replace_end{% endcomment %}</span>
                {% unless item.variant.title == 'Default Title' %}
                  <span class="cart-variant">{% comment %}ly_code_replace_for_[ item.variant.title ]_begin{% endcomment %}{% include 'ly-title' with item.variant %}{% assign cab45412ed135eebe522169be9c51255 = ly_translation %}{{ cab45412ed135eebe522169be9c51255 }}{% comment %}ly_code_replace_end{% endcomment %}</span>
                {% endunless %}
              </div>

              <a class="remove" href="/cart/change?line={{ forloop.index }}&quantity=0"></a>
            </td>
            <td class="price" data-title="{% comment %}ly_i18n_replace_for_[ 'general.general.price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.price' | t }}{% endcapture %}{% include 'ly-static-string' with '1294374' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"><span class="money">
              {% comment %}{{ item.price | money }}{% endcomment %}
              {% include 'scn-min-price' with item %}
              </span></td>
            <td class="quantity" data-title="{% comment %}ly_i18n_replace_for_[ 'general.general.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '1294375' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"><input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}"></td>
            <td class="total last" data-title="{% comment %}ly_i18n_replace_for_[ 'general.general.total' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.total' | t }}{% endcapture %}{% include 'ly-static-string' with '1294376' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"><span class="money">{{ item.quantity | times: item.price | money }}</span></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

    <div class="cart-tools">

      {% if settings.cart-special-instructions %}
        <div class="cart-instructions">
          <h2>{% comment %}ly_i18n_replace_for_[ 'cart.general.special_instructions' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.special_instructions' | t }}{% endcapture %}{% include 'ly-static-string' with '1294377' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
          <textarea placeholder="{{ settings.cart-special-instructions-placeholder }}" name="note">{{ cart.note }}</textarea>
        </div>
      {% endif %}

      <div class="cart-totals">
        <p class="cart-price"><span class="money">{{ cart.total_price | money }}</span></p>
        {% if settings.cart-show-shipping-note %}
          <p class="cart-message">{% comment %}ly_i18n_replace_for_[ 'cart.general.tax_and_shipping' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.tax_and_shipping' | t }}{% endcapture %}{% include 'ly-static-string' with '1294378' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p> 
        {% endif %}

        {% if settings.currency-switcher or settings.ajax == false %}
          <input class="cart-update button secondary" type="submit" name="update" value="{% comment %}ly_i18n_replace_for_[ 'general.general.update' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.update' | t }}{% endcapture %}{% include 'ly-static-string' with '1294379' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
        {% endif %}
        
        <a href="/collections/all" title="<ly-as-1294371>Browse our Catalog</ly-as-1294371>"><ly-as-1294370>Continuer à acheter</ly-as-1294370></a>
        

        <input class="cart-checkout button" type="submit" name="checkout" value="{% comment %}ly_i18n_replace_for_[ 'cart.general.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '1294380' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">

        {% if additional_checkout_buttons %}
          <div>{{ content_for_additional_checkout_buttons }}</div>
        {% endif %}
      </div>

    </div>

  </form>

  {% if settings.shipping-calculator and cart.requires_shipping %}
    {% include 'shipping-calculator' %}
  {% endif %}

{% else %}

  {% capture continueLink %}
    <a href="{{ shop.url }}/collections/all">{% comment %}ly_i18n_replace_for_[ 'cart.general.continue_link' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.continue_link' | t }}{% endcapture %}{% include 'ly-static-string' with '1294381' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
  {% endcapture %}
  <p class="empty">{% comment %}ly_i18n_replace_for_[ 'cart.general.empty_html' | t: continue_link: continueLink ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.empty_html' | t: continue_link: continueLink }}{% endcapture %}{% include 'ly-static-string' with '1294383' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = continueLink  %}{% assign ly_template = ly_template | replace: '[[continue_link]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>

{% endif %}



