{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<h1 class="page-title">
  {% if search.performed %}
    {% comment %}ly_i18n_replace_for_[ 'general.search.header_search_performed' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.header_search_performed' | t }}{% endcapture %}{% include 'ly-static-string' with '1294501' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
  {% else %}
    {% comment %}ly_i18n_replace_for_[ 'general.search.header' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.header' | t }}{% endcapture %}{% include 'ly-static-string' with '1294502' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
  {% endif %}
</h1>

{% include 'breadcrumbs' %}

<div class="search-results-wrapper">

  {% if search.performed %}
    <div class="search-results-count">
      <p>{% comment %}ly_i18n_replace_for_[ 'general.search.search_results' | t: count: search.results_count, search_terms: search.terms ]_begin{% endcomment %}{% if search.results_count == 0 %}{% capture ly_template %}{{ 'general.search.search_results' | t: count: search.results_count, search_terms: search.terms }}{% endcapture %}{% include 'ly-static-string' with '1294504' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = search.results_count %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% assign replacement = search.terms  %}{% assign ly_template = ly_template | replace: '[[search_terms]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif search.results_count == 1 %}{% capture ly_template %}{{ 'general.search.search_results' | t: count: search.results_count, search_terms: search.terms }}{% endcapture %}{% include 'ly-static-string' with '1294503' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = search.results_count %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% assign replacement = search.terms  %}{% assign ly_template = ly_template | replace: '[[search_terms]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif search.results_count == 2 %}{% capture ly_template %}{{ 'general.search.search_results' | t: count: search.results_count, search_terms: search.terms }}{% endcapture %}{% include 'ly-static-string' with '1294504' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = search.results_count %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% assign replacement = search.terms  %}{% assign ly_template = ly_template | replace: '[[search_terms]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'general.search.search_results' | t: count: search.results_count, search_terms: search.terms }}{% endcapture %}{% include 'ly-static-string' with '1294504' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = search.results_count %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% assign replacement = search.terms  %}{% assign ly_template = ly_template | replace: '[[search_terms]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
    </div>

    {% paginate search.results by 50 %}
      {% assign productResultsCount = 0 %}
      {% assign otherResultsCount = 0 %}
      {% for item in search.results  %}
        {% if item.featured_image %}
          {% assign productResultsCount = productResultsCount | plus: 1 %}
        {% else %}
          {% assign otherResultsCount = productResultsCount | plus: 1 %}
        {% endif %}
      {% endfor %}

      {% if productResultsCount > 0 %}
        <div class="search-results-products">
          {% for item in search.results %}
            {% if item.featured_image %}
              {% include 'product-list-item' %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% if otherResultsCount > 0 %}
        <div class="search-results-other">
          <h2 class="section-title">{% comment %}ly_i18n_replace_for_[ 'general.search.other_results' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.other_results' | t }}{% endcapture %}{% include 'ly-static-string' with '1294508' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>

          <div class="search-results-list">
            {% for item in search.results %}
              {% unless item.featured_image %}
                <article class="search-results-item">

                  <a class="search-results-link" href="{{ item.url }}">

                    <div class="search-results-data">
                      <h3 class="search-result-title">{% comment %}ly_code_replace_for_[ item.title ]_begin{% endcomment %}{% include 'ly-title' with item %}{% assign 3607ac381e8d0353236d89b80211e18f = ly_translation %}{{ 3607ac381e8d0353236d89b80211e18f }}{% comment %}ly_code_replace_end{% endcomment %}</h3>
                      <time class="search-result-date">{{ item.published_at | date: format: 'short_month' }}</time>
                    </div>

                  </a>

                </article>
              {% endunless %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if paginate.previous or paginate.next %}
        {% include 'pagination' %}
      {% endif %}
    {% endpaginate %}

  {% else %}

    <p class="no-search">{% comment %}ly_i18n_replace_for_[ 'general.search.no_search' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.no_search' | t }}{% endcapture %}{% include 'ly-static-string' with '1294509' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>

  {% endif %}
</div>
